In [110]:
import os
import json
import pandas as pd

In [172]:
# Data ---> Aggregated ---> Transaction
path1="C:/Users/gssnivks/OneDrive/DS/New folder/pulse/data/aggregated/transaction/country/india/state/"
Agg_T_State_List=os.listdir(path1)

clm1={'State':[], 'Year':[],'Quarter':[],'Transaction_Type':[], 'Transaction_Count':[], 'Transaction_Amount':[]}

for i in Agg_T_State_List:
    path_i=path1+i+"/"
    Agg_year=os.listdir(path_i)

    for j in Agg_year:
        path_j=path_i+j+"/"
        Agg_Year_List=os.listdir(path_j)

        for k in Agg_Year_List:
            path_k=path_j+k
            Data=open(path_k,'r')
            D=json.load(Data)

            for z in D['data']['transactionData']:
                Name=z['name']
                count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm1['Transaction_Type'].append(Name)
                clm1['Transaction_Count'].append(count)
                clm1['Transaction_Amount'].append(amount)
                clm1['State'].append(i)
                clm1['Year'].append(j)
                clm1['Quarter'].append(int(k.strip('.json')))

Agg_Trans_Data=pd.DataFrame(clm1)

Agg_Trans_Data['State']=Agg_Trans_Data['State'].str.replace('andaman-&-nicobar-islands','Andamam & Nicobar')
Agg_Trans_Data['State']=Agg_Trans_Data['State'].str.replace('-',' ')
Agg_Trans_Data['State']=Agg_Trans_Data['State'].str.title()
Agg_Trans_Data['State']=Agg_Trans_Data['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [173]:
Agg_Trans_Data['State'].unique()

array(['Andamam & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [175]:
# Data ---> Aggregated ---> User
path2="C:/Users/gssnivks/OneDrive/DS/New folder/pulse/data/aggregated/user/country/india/state/"
Agg_U_State_List=os.listdir(path2)

clm2={'State':[], 'Year':[],'Quarter':[],'Brand':[], 'Transaction_Count':[], 'Percentage':[]}

for i in Agg_U_State_List:
    path_i=path2+i+"/"
    Agg_year=os.listdir(path_i)

    for j in Agg_year:
        path_j=path_i+j+"/"
        Agg_Year_list=os.listdir(path_j)

        for k in Agg_Year_list:
            path_k=path_j+k
            Data=open(path_k,'r')
            B=json.load(Data)

            try:
                for z in B['data']['usersByDevice']:
                    brand=z['brand']
                    count=z['count']
                    percentage=z['percentage']
                    clm2['Brand'].append(brand)
                    clm2['Transaction_Count'].append(count)
                    clm2['Percentage'].append(percentage)
                    clm2['State'].append(i)
                    clm2['Year'].append(j)
                    clm2['Quarter'].append(int(k.strip('.json')))
            except:
                pass

Agg_Users_Data=pd.DataFrame(clm2)

Agg_Users_Data['State']=Agg_Users_Data['State'].str.replace('andaman-&-nicobar-islands','Andamam & Nicobar')
Agg_Users_Data['State']=Agg_Users_Data['State'].str.replace('-',' ')
Agg_Users_Data['State']=Agg_Users_Data['State'].str.title()
Agg_Users_Data['State']=Agg_Users_Data['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [176]:
Agg_Users_Data['State'].unique()

array(['Andamam & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [179]:
# Data ---> Map ---> Transaction

path3="C:/Users/gssnivks/OneDrive/DS/New folder/pulse/data/map/transaction/hover/country/india/state/"
Map_T_State_List=os.listdir(path3)

clm3={'State':[], 'Year':[],'Quarter':[],'District':[], 'Transaction_Count':[], 'Transaction_Amount':[]}

for i in Map_T_State_List:
        path_i=path3+i+"/"
        Map_year=os.listdir(path_i)

        for j in Map_year:
            path_j=path_i+j+"/"
            Map_Year_List=os.listdir(path_j)

            for k in Map_Year_List:
                path_k=path_j+k
                Data=open(path_k,'r')
                C=json.load(Data)

                for z in C['data']['hoverDataList']:
                    Name=z['name']
                    count=z['metric'][0]['count']
                    amount=z['metric'][0]['amount']
                    clm3['District'].append(Name)
                    clm3['Transaction_Count'].append(count)
                    clm3['Transaction_Amount'].append(amount)
                    clm3['State'].append(i)
                    clm3['Year'].append(j)
                    clm3['Quarter'].append(int(k.strip('.json')))

Map_Trans_Data=pd.DataFrame(clm3)

Map_Trans_Data['State']=Map_Trans_Data['State'].str.replace('andaman-&-nicobar-islands','Andamam & Nicobar')
Map_Trans_Data['State']=Map_Trans_Data['State'].str.replace('-',' ')
Map_Trans_Data['State']=Map_Trans_Data['State'].str.title()
Map_Trans_Data['State']=Map_Trans_Data['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [180]:
Map_Trans_Data['State'].unique()

array(['Andamam & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [182]:
# Data ---> Map ---> User

path4="C:/Users/gssnivks/OneDrive/DS/New folder/pulse/data/map/user/hover/country/india/state/"
Map_U_State_List=os.listdir(path4)

clm4={'State':[], 'Year':[],'Quarter':[],'District':[], 'Registered_User':[], 'App_Opens':[]}

for i in Map_U_State_List:
    path_i=path4+i+"/"
    Map_year=os.listdir(path_i)

    for j in Map_year:
        path_j=path_i+j+"/"
        Map_year_list=os.listdir(path_j)

        for k in Map_year_list:
            path_k=path_j+k
            Data=open(path_k,'r')
            D=json.load(Data)
            
            for z in D['data']['hoverData'].items():
                Name=(z[0])
                registeredUsers=z[1]['registeredUsers']
                appOpens=z[1]['appOpens']
                clm4['District'].append(Name)
                clm4['Registered_User'].append(registeredUsers)
                clm4['App_Opens'].append(appOpens)
                clm4['State'].append(i)
                clm4['Year'].append(j)
                clm4['Quarter'].append(int(k.strip('.json')))

Map_User_Data=pd.DataFrame(clm4)

Map_User_Data['State']=Map_User_Data['State'].str.replace('andaman-&-nicobar-islands','Andamam & Nicobar')
Map_User_Data['State']=Map_User_Data['State'].str.replace('-',' ')
Map_User_Data['State']=Map_User_Data['State'].str.title()
Map_User_Data['State']=Map_User_Data['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [183]:
Map_User_Data['State'].unique()

array(['Andamam & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [184]:
# Data ---> Top ---> Transaction

path5="C:/Users/gssnivks/OneDrive/DS/New folder/pulse/data/top/transaction/country/india/state/"
Top_T_State_List=os.listdir(path5)

clm5={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Transaction_Count':[], 'Transaction_Amount':[]}

for i in Top_T_State_List:
    path_i=path5+i+"/"
    Top_year=os.listdir(path_i)

    for j in Top_year:
        path_j=path_i+j+"/"
        Top_year_list=os.listdir(path_j)

        for k in Top_year_list:
            path_k=path_j+k
            Data=open(path_k,'r')
            E=json.load(Data)

            for z in E['data']['pincodes']:
                entityName=z['entityName']
                count=z['metric']['count']
                amount=z['metric']['amount']
                clm5['Pincode'].append(entityName)
                clm5['Transaction_Count'].append(count)
                clm5['Transaction_Amount'].append(amount)
                clm5['State'].append(i)
                clm5['Year'].append(j)
                clm5['Quarter'].append(int(k.strip('.json')))

Top_Trans_Data=pd.DataFrame(clm5)

Top_Trans_Data['State']=Top_Trans_Data['State'].str.replace('andaman-&-nicobar-islands','Andamam & Nicobar')
Top_Trans_Data['State']=Top_Trans_Data['State'].str.replace('-',' ')
Top_Trans_Data['State']=Top_Trans_Data['State'].str.title()
Top_Trans_Data['State']=Top_Trans_Data['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [185]:
Top_Trans_Data['State'].unique()

array(['Andamam & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [186]:
# Data ---> Top ---> User

path6="C:/Users/gssnivks/OneDrive/DS/New folder/pulse/data/top/user/country/india/state/"
Top_U_State_List=os.listdir(path6)

clm6={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Registered_User':[]}

for i in Top_U_State_List:
    path_i=path6+i+"/"
    Top_year=os.listdir(path_i)

    for j in Top_year:
        path_j=path_i+j+"/"
        Top_year_list=os.listdir(path_j)

        for k in Top_year_list:
            path_k=path_j+k
            Data=open(path_k,'r')
            F=json.load(Data)
            
            for z in F['data']['pincodes']:
                Name=z['name']
                registeredUsers=z['registeredUsers']
                clm6['Pincode'].append(Name)
                clm6['Registered_User'].append(registeredUsers)
                clm6['State'].append(i)
                clm6['Year'].append(j)
                clm6['Quarter'].append(int(k.strip('.json')))

Top_User_Data=pd.DataFrame(clm6)

Top_User_Data['State']=Top_User_Data['State'].str.replace('andaman-&-nicobar-islands','Andamam & Nicobar')
Top_User_Data['State']=Top_User_Data['State'].str.replace('-',' ')
Top_User_Data['State']=Top_User_Data['State'].str.title()
Top_User_Data['State']=Top_User_Data['State'].str.replace('Dadra & Nagar Haveli & Daman & Diu','Dadra and Nagar Haveli and Daman and Diu')

In [187]:
Top_User_Data

                  State  Year  Quarter Pincode  Registered_User
0     Andamam & Nicobar  2018        1  744103             1608
1     Andamam & Nicobar  2018        1  744101             1108
2     Andamam & Nicobar  2018        1  744105             1075
3     Andamam & Nicobar  2018        1  744102             1006
4     Andamam & Nicobar  2018        1  744104              272
...                 ...   ...      ...     ...              ...
8563        West Bengal  2023        4  700015           126663
8564        West Bengal  2023        4  742304           123320
8565        West Bengal  2023        4  721101           123088
8566        West Bengal  2023        4  700150           119283
8567        West Bengal  2023        4  700091           118578

[8568 rows x 5 columns]